<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Rishi Sinha</title>

	    <!-- Bootstrap -->
    	<link href="css/bootstrap.min.css" rel="stylesheet">
    	<link rel="stylesheet" type="text/css" href="css/portfolio.css">

    	 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    	<script type="text/javascript" src="js/jssor.slider.mini.js"></script>

    	<script type="text/javascript" src="js/bootstrap.min.js"></script>
    	<script type="text/javascript" src="js/jquery.min.js"></script>
    	<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
	</head>

	<body>
		<!-- Navigation -->
	    <nav class="navbar navbar-inverse" role="navigation">
	      <div class="container">

	        <div class="navbar-header">
	          <!-- Navigation Button -->
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="sr-only"> Toggle Navigation </span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="cover.html" style="padding: 0px 15px;">
	            <img src="images/azaadlogoxxs.png" class="logo"/>
	          </a>
	        </div>

	        <div class="collapse navbar-collapse" id="main-nav">
	          <ul class="nav navbar-nav">
	            <li><a href="index.html">About Me</a></li>
	            <li><a href="#experience">Experience</a></li>
	            <li><a href="#edu">Coursework</a></li>
	            <li><a href="#volunteering">Volunteer Work</a></li>
	          </ul>
	        </div>
	        <!-- /.navbar-collapse -->  
	      </div>
	       <!-- /.container -->
	    </nav> 
	    <!-- END NAVIGATION -->


	    <!--*************************************************************************-->
		<!-- COURSEWORK SECTION                                                      -->
		<!--*************************************************************************-->

		<div class="container content-container">
			<h1> Rishi Sinha </h1>
			<img src="img/intro/meser.jpg" align="middle" style="max-width:100% max-height:100%">

			
		</div>

		<!--*************************************************************************-->
		<!-- COURSEWORK SECTION                                                      -->
		<!--*************************************************************************-->

		<div class="container content-container" id="experience">
			<h1> Experience </h1>
		</div>

		<!--*************************************************************************-->
		<!-- COURSEWORK SECTION                                                      -->
		<!--*************************************************************************-->

		<div class="container content-container" id="edu" ng-app="educontent" ng-controller="educontentc">
			<h1> Coursework </h1>
			<div class="row">
				<div class="col-md-4" id="csicon"><img src="img/coursework/csicon.jpg" class="icon"></div>
				<div class="col-md-4" id="bioicon"><img src="img/coursework/bioicon.jpg" class="icon"></div>
				<div class="col-md-4" id="statsicon"><img src="img/coursework/statsicon.jpg" class="icon"></div>
			</div>
			<!-- div to display info in -->
			<div id="edu_show"></div>
			<!-- CS content div -->
			<div id="edu_cs" style="display:none">
				<h2>Computer Science</h2>
				<h3>Courses taken: </h3>
				<p>Lower Division</p>
				<ul>
					<li ng-repeat="x in csClassesLD"> {{ x }} </li>
				</ul>
				<p>Upper Division</p>
				<ul>
					<li ng-repeat="x in csClassesUD"> {{ x }} </li>
				</ul>
			</div>
			<!-- Bio content div -->
			<div id="edu_bio" style="display:none">
				<h2>Biology</h2>
				<h3>Courses taken: </h3>
				<p>Lower Division</p>
				<ul>
					<li ng-repeat="x in bioClassesLD"> {{ x }} </li>
				</ul>
				<p>Upper Division</p>
				<ul>
					<li ng-repeat="x in bioClassesUD"> {{ x }} </li>
				</ul>
			</div>
			<!-- Stats content div -->
			<div id="edu_stats" style="display:none">
				<h2>Statistics</h2>
				<h3>Courses taken: </h3>
				<p>Lower Division</p>
				<ul>
					<li ng-repeat="x in statsClassesLD"> {{ x }} </li>
				</ul>
				<p>Upper Division</p>
				<ul>
					<li ng-repeat="x in statsClassesUD"> {{ x }} </li>
				</ul>
			</div>
		</div>
		<script>
			var mode;
			function switchTo(element) {
				if (element != mode) {
					$('#edu_show').fadeOut('fast', function() {
						$('#edu_show').html($(element).html());
						$('#edu_show').fadeIn('fast');
					});
					mode = element;
				}	
			}
			switchTo('#edu_cs');
		    $("#csicon").click(function(){
		    	switchTo('#edu_cs');
		    });
		    $("#bioicon").click(function(){
		    	switchTo('#edu_bio');
		    });
		    $("#statsicon").click(function(){
		    	switchTo('#edu_stats');
		    });

		    var eduContent = angular.module('educontent', []).controller('educontentc', function($scope){
		    	$scope.csClassesLD = ["CS 61A: Structure and Interpretation of Computer Programs",
				    					"CS 61B: Data Structures",
				    					"CS 61C: Computer Architecture",
				    					"CS 70: Discrete Mathematics"];
				$scope.csClassesUD = ["CS 168: Internet Architecture and Protocols",
				    					"CS 170: Efficient Algorithms and Intractable Problems",
				    					"CS 176: Algorithms for Computational Biology",
				    					"CS 186: Database Systems",
				    					"CS 188: Artificial Intelligence",
				    					"CS 189: Machine Learning"];
				$scope.bioClassesLD = ["Bio 1A/B: General Biology",
		    							"Chem 3A/B: Organic Chemistry",
		    							"Physics 8A/B: Introductory Physics",
		    							"IB 35AC: Human Biological Variation"];
		    	$scope.bioClassesUD = ["MCB C100A: Biophysical Chemistry",
		    							"MCB 110: Macromolecular Synthesis",
		    							"MCB 140: Genetics",
		    							"NUSTX 110: Advanced Toxicology"];
		    	$scope.statsClassesLD = ["Math 53: Multivariable Calculus",
		    								"Math 54: Linear Algebra"];
				$scope.statsClassesUD = ["Stat 133: Statistical Programming/Computing",
											"Stat 134: Probability Theory",
											"Stat 135: Statistical Theory"];
		    });
		</script>

		<!--*************************************************************************-->
		<!-- COURSEWORK SECTION                                                      -->
		<!--*************************************************************************-->

		<div class="container content-container" id="volunteering">
			<h1> Volunteer Work </h1>
		</div>

		
		
	</body>
</html>






















